.headline {
font-size: 3em;
font-weight: 700;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

.byline {
font-size: 1em;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
text-align: center;
}

p {
font-family: georgia, serif;
line-height: 180%;
}

.chapter {
font-size: 2em;
font-weight: 700;
text-align: left;
font-family: 'Montserrat', sans-serif;
}

.dany {
display: block;
margin-right: auto;
margin-left: auto;
width: 100%;
margin-top: 1em;
}

.caption {
text-align: left;
font-family: georgia, serif;
size: 14px;
}

.container {
margin: 0 auto;
width: 900px;
}

.hr1 {
height: 10px !important;
color: Black !important;
width: 50%;
margin: auto;
margin: auto;
}

.footer {
text-align: center;
font-family: georgia, serif;
size: 8px;
}
